.game-container {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-height: calc(100vh - 170px); /* Ограничиваем высоту контейнера, учитывая высоту Header и BottomNav */
}

.current-planet {
  width: 300px;
  top: calc(100vh - 110vh);
  z-index: 2;
  position: relative;
  animation: planetGlow 3s infinite alternate ease-in-out;
  transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  filter: drop-shadow(0 0 10px var(--planet-glow-color));
}

@keyframes planetGlow {
  0% {
    filter: drop-shadow(0 0 10px var(--planet-glow-color, rgba(255, 16, 83, 0.5)));
  }
  100% {
    filter: drop-shadow(0 0 30px var(--planet-glow-color, rgba(255, 16, 83, 0.9)));
  }
}

/* Альтернатива: если нужно box-shadow */
.current-planet img {
  border-radius: 50%;
  animation: pulseGlow 2s infinite alternate;
}

@keyframes pulseGlow {
  from {
    box-shadow: 0 0 20px 5px var(--planet-glow-color, rgba(255, 16, 83, 0.6));
  }
  to {
    box-shadow: 0 0 40px 15px var(--planet-glow-color, rgba(255, 16, 83, 0.9));
  }
}

.planet-placeholder {
  width: 245px; /* 350px * 0.7 = 245px */
  height: 245px;
  border-radius: 50%; /* Делаем круг */
  background: rgb(60,50,75);
  background: linear-gradient(235deg, rgba(60,50,75,1) 0%, rgba(9,0,14,1) 100%);    /*position: absolute; !* Перекрывает картинку *!*/
  position: absolute;
  z-index: 2;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rocket-img {
  width: 230px;
  cursor: pointer;
  position: fixed;
  top: calc(100vh - 35vh);
  left: calc(50vw - 130px);
  transform: translate(-50%, -50%);
  z-index: 2;
  filter: drop-shadow(0 0 20px rgba(203, 135, 235, 0.8)); /* Статичное свечение */
  transition: transform 0.1s ease-in-out;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 15px;
}

/* Частицы */
.particle {
  position: absolute;
  width: 20px;
  opacity: 0;
  animation: particle-fly 1s forwards;
}


.side-image img {
  width: 120px;
  height: auto;
  /*top:px;*/
  margin-top: 40px;
}

/* Анимация разлёта частиц */
@keyframes particle-fly {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(var(--x), var(--y)) scale(0.5);
  }
}
