.game-container {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-height: calc(100vh - 170px); /* Ограничиваем высоту контейнера, учитывая высоту Header и BottomNav */
}

.current-planet {
  width: 350px;
  top:-80px;
  z-index: 2;
  position: relative;
}

.planet-placeholder {
  width: 300px;
  height: 300px;
  border-radius: 50%; /* Делаем круг */
  background: rgb(60,50,75);
  background: linear-gradient(235deg, rgba(60,50,75,1) 0%, rgba(9,0,14,1) 100%);    /*position: absolute; !* Перекрывает картинку *!*/
  position: absolute;
  z-index: 2;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rocket-img {
  width: 230px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  position: fixed; /* Фиксированное позиционирование */
  top: calc(100vh - 35vh);
  left: calc(50vw - 130px);
  transform: translate(-50%, -50%); /* Коррекция смещения */
  z-index: 2;
  animation: glow 1.5s infinite alternate;
}


.score-bar {
  position: absolute;
  transform: translateY(-50%) rotate(90deg);
  width: 6px;
  height: 40%;
  background-color: white;
  border-radius: 10px;
  opacity: 0.8;
  z-index: 3;
}


/* Частицы */
.particle {
  position: absolute;
  width: 20px;
  opacity: 0;
  animation: particle-fly 1s forwards;
}

/* Анимация разлёта частиц */
@keyframes particle-fly {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(var(--x), var(--y)) scale(0.5);
  }
}

.planet-sun {
  position: absolute;
  top: 25%;
  left: 34%;
  width: 120px;
  aspect-ratio: 1;
  transform: translateY(-50%) rotate(35deg); 
  background-color: rgb(161, 0, 65);
  border-radius: 50%; 
  box-shadow: 0 0 120px 80px rgba(255, 16, 83, 0.8); 
  z-index: 1; 
  opacity: 0; 
  animation: showSun 2.0s ease-in-out forwards 0.2s; 
}

.rocket-sun {
  position: absolute;
  top: 72%;
  left: 48%;
  width: 0px;
  aspect-ratio: 1;
  transform: translateY(-50%) rotate(35deg); 
  background-color: rgb(205, 0, 72);
  border-radius: 50%; 
  box-shadow: 0 0 120px 50px rgba(203, 135, 235, 0.8); 
  z-index: 1; 
  opacity: 0; 
  animation: showSun 2.0s ease-in-out forwards 0.2s; 

}

@keyframes showSun {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}