.leaderboard-container {
    background: rgba(145, 145, 145, 0.2); /* Полупрозрачный фон */
    border-radius: 15px;
    backdrop-filter: blur(10px); /* Эффект размытия */
    -webkit-backdrop-filter: blur(10px); /* Для старых браузеров */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
    border: 1px solid rgba(255, 255, 255, 0.3);

    display: flex;
    flex-direction: column;

    /*max-width: 480px;*/
    min-width: calc(100vw - 30px);
    margin: 0 15px;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden; /* Блокируем горизонтальный скролл */
    box-sizing: border-box;
    max-height: calc(100vh - 170px); /* Ограничиваем высоту контейнера, учитывая высоту Header и BottomNav */
    height: 100%;
}

.leaderboard-header {
    color: white;
    position: sticky;
    font-size: 1.5rem;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
}

.users-list {
    display: flex;
    color: white;
    font-size: 1em;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.user-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    transition: transform 0.2s;
    box-sizing: border-box;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
    border: 2px solid #cb87eb;
}

.user-info {
    flex: 1;
    min-width: 0; /* Фикс для обрезания длинных текстов */
}

.user-name {
    font-weight: 600;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-level {
    font-size: 0.9em;
}

.user-stats {
    display: flex;
    gap: 15px;
    margin-left: auto;
    padding-left: 10px;
}

.stat-item {
    text-align: center;
    min-width: 60px; /* Фиксированная ширина для статистики */
}

.small-coin {
    font-size: 0.8rem; /* уменьшает текст */
    transform: scale(0.8); /* уменьшает всё, включая иконки, если есть */
    display: inline-flex;
    align-items: center;
    gap: 4px; /* если есть иконка и текст — отступ между ними */
}


/* Адаптивность для маленьких экранов */
@media (max-width: 480px) {
    .leaderboard-container {
        padding: 10px;
        margin: 0 10px;
        width: calc(100% - 20px);
    }

    .user-card {
        padding: 12px;
    }

    .user-avatar {
        width: 35px;
        height: 35px;
        margin: 0 8px;
    }

    .stat-item {
        align-items: center;
        justify-content: center;
        min-width: 50px;
        gap: 10px;
        display: inline-flex;
    }

    .stat-value {
        font-size: 0.9em;

    }

    .stat-label {
        font-size: 0.7em;
    }
}