.leaderboard-container {
    background: rgba(145, 145, 145, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    min-width: calc(100vw - 25px);
    margin: 0 15px;
    padding: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    max-height: calc(100vh - 170px);
    height: 100%;
}

.leaderboard-header {
    color: white;
    position: sticky;
    font-size: 1.5rem;
    top: 0;
    z-index: 1;
    margin-bottom: 20px;
    padding: 15px 20px;
    background: rgba(145, 145, 145, 0.2); /* Полупрозрачный фон */
    backdrop-filter: blur(10px); /* Эффект размытия */
    -webkit-backdrop-filter: blur(10px); /* Для старых браузеров */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px; /* Скругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 2px 12px rgba(224, 170, 255, 0.4); /* Светло-фиолетовое свечение, смещенное вниз */
}


.users-list {
    display: flex;
    color: white;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.user-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    transition: transform 0.2s;
    box-sizing: border-box;
}

/* Чередование фона карточек */
.user-card:nth-child(odd) {
    background: rgba(255, 255, 255, 0.01);
}

.user-card:nth-child(even) {
    background: rgba(255, 255, 255, 0.1);
}

.user-rank {
    font-size: 1.4rem;
}

.leaderboard-avatar {
    margin: 0 6px;
}

.user-info {
    flex: 1;
    min-width: 0;
    overflow: hidden;
}

.user-name {
    font-weight: 600;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-stats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    min-width: 80px;
}