.shop-container {
    background: rgba(145, 145, 145, 0.2); /* Полупрозрачный фон */
    border-radius: 15px;
    backdrop-filter: blur(10px); /* Эффект размытия */
    -webkit-backdrop-filter: blur(10px); /* Для старых браузеров */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 260px; /* Явное задание высоты строк */
    gap: 20px; /* Увеличиваем промежуток между элементами */
    max-width: 480px;
    min-width: calc(100vw - 25px);
    margin: 0 15px;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
    max-height: calc(100vh - 170px); /* Ограничиваем высоту контейнера, учитывая высоту Header и BottomNav */
    height: 100%;
}


.shop-item {
    height: 100%;
    min-height: auto;
    background: linear-gradient(145deg, #3c096c, #240046);
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transform-origin: center; /* Устанавливаем центр для масштабирования */
}

.shop-item.active {
    transform: scale(1.05); /* Увеличиваем карточку */
    border: 3px solid white; /* Добавляем белую рамку */
}

.shop-item:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);
}



/* Styling for the level badge */
.level-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    color: #10002b;
    border-radius: 20%;
    padding: 5px 10px;
    font-size: 0.9rem;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

/* Image container */
.item-image-container {
    height: 110px;
    margin-bottom: 10px;
    padding: 10px;
    background: #10002b;
    border-radius: 10px;
}

.item-image {
    width: 100%;
    height: 80px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.item-image:hover {
    transform: scale(1.05); /* Увеличение изображения при наведении */
}

.item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}

.item-title {
    color: #e0aaff;
    font-size: 1.3rem;
    margin: 0;
    text-align: left;
    flex-grow: 1;
    white-space: nowrap; /* Запрещаем перенос текста */
    overflow: hidden; /* Обрезаем текст, если он выходит за рамки */
    text-overflow: ellipsis; /* Добавляем многоточие в конце обрезанного текста */
}

/* Buy button */
.buy-button {
    position: relative;
    width: 100%;
    margin-top: 12px;
    padding: 4px 4px 0px 4px;
    background: linear-gradient(45deg, #9d4edd, #7b2cbf);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    z-index: 3; /* Поднимаем кнопку выше карточки */
}

.buy-button:hover {
    background: linear-gradient(45deg, #c77dff, #9d4edd);
    box-shadow: 0 3px 12px rgba(156, 125, 255, 0.25);
}

/* No scale effect on the buy button click */
.buy-button:active {
    background: linear-gradient(45deg, #c77dff, #9d4edd);
    box-shadow: 0 3px 12px rgba(156, 125, 255, 0.25);
}

/* Income info */
.income-info {
    display: flex;
    font-size: 16px;
    color: #e0aaff;
    margin-top: 5px;
}
