.bottom-nav {
  position: fixed;
  bottom: 10px;
  left: 12px;
  right: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  height: 60px;
  padding: 6px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-link {
  text-decoration: none;
  padding: 8px 16px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.nav-link img {
  filter: brightness(0) saturate(100%) invert(32%) sepia(80%) saturate(300%) hue-rotate(250deg);

  width: 30px; /* Размер иконок */
  height: 30px;
  filter: brightness(0) invert(1); /* Делаем белыми */
  transition: transform 0.2s ease;
}

.nav-link.active img {
  transform: scale(1.5);
  filter: brightness(1) invert(0); /* Цветной вариант при активном */
}
