.level-display {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

.level-amount {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-right: 0px;
}
