* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #10002b;
  color: var(--tg-theme-text-color);
  overflow: hidden; /* Убираем скролл */
}


.no-interaction {
  outline: none;  /* Убирает фокус */
  -webkit-tap-highlight-color: transparent;  /* Убирает подсветку на мобильных устройствах */
}



.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  flex-grow: 1; /* Растягиваем основной контент */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Используем calc для вычитания высоты Header + BottomNav */
}

